@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AstroScreen_Cinema.Models.EntitiesDto.ReservationDto;


<link rel="stylesheet" href="~/css/Home/site.css" />
<link rel="stylesheet" href="~/css/Reservation/ReservationStyle.css" />

<title>Confirm reservation</title>
<form asp-action="FulfillTheReservation" asp-controller="Reservation" method="post" class="reservation__form">

    <div class="reservation__input-container">
        <h2>Fill this form to finish your reservation</h2>
        <label>Name</label>
        <input type="text" class="form-input"  asp-for="Account.Name" value="@Model.Account.Name">
        <label>Surname</label>
        <input type="text" class="form-input" placeholder="Input 1" asp-for="Account.Surname" value="@Model.Account.Surname">
        <label>Email Address</label>
        <input type="text" class="form-input" placeholder="Input 3" asp-for="Account.Email" value="@Model.Account.Email">
        <label>Birth Date</label>
        <input type="date" class="form-input" placeholder="Input 4" asp-for="Account.Birthdate" value="@Model.Account.Birthdate">
        <label>Phone Number</label>
        <input type="text" class="form-input" placeholder="Input 5" asp-for="Account.PhoneNum" value="@Model.Account.PhoneNum">

        @if (ViewBag.User != null)
        {
            <input type="radio" class="showPassword"/>
            <input type="text" class="form-input hidden" placeholder="Password" asp-for="Account.Password">
            <input type="text" class="form-input hidden" placeholder="Confirm Password">
        }
        <button class="submit-btn">Submit</button>
    </div>

    <div class="sidebar">
        <div class="movie-details">
            <h3>Movie Details</h3>
            @foreach (var seat in Model.Seats)
            {
                <label class="seats">@((char)('A' + seat.RowNum - 1))@seat.SeatNum</label>
                <input type="hidden" asp-for="@seat" />
            }
            <label class="sidebar-label">Day of the showtime: @Model.Showtime.Day.ToString("yyyy-MM-dd")</label>
            <label class="sidebar-label" asp-for="Showtime.Time">Hour: @Model.Showtime.Time.ToString("HH:mm")</label>
        </div>
        <div class="poster-details">
            <img src="~/@Model.Showtime.Movie.PosterPath" />
            <div class="text-details">
                <label class="sidebar-label Title" asp-for="Movie.Title">@Model.Showtime.Movie.Title</label>
                <label class="sidebar-label Description" asp-for="Movie.Description">@Model.Showtime.Movie.Description</label>
            </div>
        </div>
    </div>


</form>

<script>
    // Function to toggle visibility of password inputs
    function togglePasswordInputs() {
        var passwordInput = document.getElementById('password');
        var confirmPasswordInput = document.getElementById('confirmPassword');

        if (document.getElementById('showPassword').checked) {
            passwordInput.classList.remove('hidden');
            confirmPasswordInput.classList.remove('hidden');
        } else {
            passwordInput.classList.add('hidden');
            confirmPasswordInput.classList.add('hidden');
        }
    }


    document.getElementById('showPassword').addEventListener('change', togglePasswordInputs);

    togglePasswordInputs();
</script>