@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AstroScreen_Cinema.Models.EntitiesDto.ReservationDto;


<link rel="stylesheet" href="~/css/Home/site.css" />
<link rel="stylesheet" href="~/css/Reservation/ReservationStyle.css" />

<title>Confirm reservation</title>
<form class="reservation__form">
    <div class="reservation__input-container">
        <h2>Your Form Title</h2>
        <input type="text" class="form-input" placeholder="Title" value="@Model.Account.Name">
        <input type="text" class="form-input" placeholder="Input 1" value="@Model.Account.Surname">
        <input type="text" class="form-input" placeholder="Input 3" value="@Model.Account.Email">
        <input type="text" class="form-input" placeholder="Input 4" value="@Model.Account.Birthdate">
        <input type="text" class="form-input" placeholder="Input 5" value="@Model.Account.PhoneNum">
        @*<input type="text" class="form-input" placeholder="Input 6" value="@Model.Input6">
        <input type="text" class="form-input" placeholder="Input 7" value="@Model.Input7">*@
    </div>
        </div>

    <div class="sidebar">
        <h3>Sidebar</h3>
        @foreach (var seat in Model.Seats)
        {
            <label class="sidebar-label">seat</label>
        }
        <label class="sidebar-label">@Model.Showtime.Day</label>
        <label class="sidebar-label">@Model.Showtime.Time</label>
        <label class="sidebar-label">@Model.Showtime.Movie.Title</label>
        <label class="sidebar-label">@Model.Showtime.Movie.Description</label>
        <button class="submit-btn">Submit</button>
    </div>
</form>