@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
@model List<Movie> 



<!--Slider functionality-->
<div class="slider">

    <div class="slide-track slider-dissapear">
        
        <!--6 slides-->

        <div class="slide">
            <img src="images/Slider/MandalorianS3_1280_720.jpg"/>
        </div>

        <div class="slide">
            <img src="images/Slider/Mandalorian_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/Pirates2_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/Pirates_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/R2C3PO_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/ROTS1280_720.jpg" />
        </div>

        <!--Same 6 slides (doubled)-->

        <div class="slide">
            <img src="images/Slider/MandalorianS3_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/Mandalorian_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/Pirates2_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/Pirates_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/R2C3PO_1280_720.jpg" />
        </div>

        <div class="slide">
            <img src="images/Slider/ROTS1280_720.jpg" />
        </div>

    </div>

</div>
<!--End of Slider-->

<!--SoonInCinemas-->
<div class="SoonInCinemas">

    <div class="SoonTitle">
        <h1>Soon in our cinemas!</h1>
    </div>
    <div class="Posters">

        <figure class="Poster">
            <img src="images/SoonInCinemas/avatar810x1200.jpeg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Avatar: The way of water</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/Barbie810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Barbie</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/Batman810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Batman: The Dark Knight</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/black-widow810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Black Widow</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/Cruella810x1200.jpg" />
            @* <figurecaption>@movie[1].Title</figurecaption> *@
            <figurecaption>Cruella</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/LOTR810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>The Lord of The Rings: Return of The King</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/Nun810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>The Nun 2</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/oppenheimer810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Oppenheimer</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/Spiderman_across_the_spiderverse810x1200.jpg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Spider-Man: Across the spider-verse</figurecaption>
        </figure>
        <figure class="Poster">
            <img src="images/SoonInCinemas/thor810x1200.jpeg" />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>Thor: Love and Thunder</figurecaption>
        </figure>
    </div>
</div>
<!--EndOfSoonInCinemas-->

<!--Events-->
@* <div class="Events">
    <div class="EventTitle">
        <h1>Incoming events!</h1>
    </div>
</div> *@
<!--EndOfEvents
-->
