@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
@model List<AstroScreen_Cinema.Models.EntitiesDto.MovieDto>

@{
    var slider = Model.Where(m => m.Desc.Equals("Random")).ToList();
    var shownig = Model.Where(m => !m.Desc.Equals("Random")).ToList();
}

<link rel="stylesheet" href="~/css/Home/site.css" />
<link rel="stylesheet" href="~/css/Home/slider.css" />
<link rel="stylesheet" href="~/css/Home/SoonInCinemas.css" />
<link rel="stylesheet" href="~/css/Home/Events.css" />


<nav>
    <ul>
        <li><img class="logo" src="~/images/Logo/favlogo.png" /></li>
        <li><a id="home-link" asp-area="" asp-controller="Home" asp-action="Index">Home<span></span></a></li>
        <li><a id="home-link" asp-area="" asp-controller="NowShowing" asp-action="Nowshowing">Now Showing<span></span></a></li>
        @if (ViewBag.LoginStatus == "NO")
        {
            <li><a id="home-link" asp-area="" asp-controller="Login" asp-action="Login">Login<span></span></a></li>
        }
        @if (ViewBag.LoginStatus == "YES")
        {
            <li><a id="home-link" asp-area="" asp-controller="MyAccount" asp-action="MyAccount">My Account<span></span></a></li>
        }
    </ul>
</nav>


<!--Slider functionality-->
<div class="slider">

    <div class="slide-track slider-dissapear">

        <!--6 slides-->

        <div class="slide">
            <img src=@slider[1].imgPath />
        </div>

        <div class="slide">
            <img src=@slider[2].imgPath />
        </div>

        <div class="slide">
            <img src=@slider[3].imgPath />
        </div>

        <div class="slide">
            <img src=@slider[4].imgPath />
        </div>
        <div class="slide">
            <img src=@slider[5].imgPath />
        </div>
        <div class="slide">
            <img src=@slider[1].imgPath />
        </div>

        <div class="slide">
            <img src=@slider[2].imgPath />
        </div>

        <div class="slide">
            <img src=@slider[3].imgPath />
        </div>

        <div class="slide">
            <img src=@slider[4].imgPath />
        </div>
        <div class="slide">
            <img src=@slider[5].imgPath />
        </div>
    </div>

</div>

@* <div class="slider">
    <div class="slide-track slider-dissapear">
        <!--6 slides-->
        <div class="slide">
            <img src="@slider[1].imgPath" alt="Slide 1" />
        </div>
        <div class="slide">
            <img src="@slider[2].imgPath" alt="Slide 2" />
        </div>
        <div class="slide">
            <img src="@slider[3].imgPath" alt="Slide 3" />
        </div>
        <div class="slide">
            <img src="@slider[4].imgPath" alt="Slide 4" />
        </div>
        <div class="slide">
            <img src="@slider[5].imgPath" alt="Slide 5" />
        </div>
        
    </div>
    <div class="navigation">
        <button onclick="changeSlide(-1)">Previous</button>
        <button onclick="changeSlide(1)">Next</button>
    </div>
</div> *@


<!--SoonInCinemas-->
<div class="SoonInCinemas">

    <div class="SoonTitleContainer">
        <div class="SoonTitle">
            <h1>NOW IN OUR CINEMAS!</h1>
        </div>
    </div>

    <div class="Posters">
    @foreach (var movie in shownig)
    {
        <figure class="Poster" data-title=@movie.Title>
            <img src=@movie.imgPath />
            @* <figurecaption>@movie.Title</figurecaption> *@
            <figurecaption>@movie.Title</figurecaption>
        </figure>
    }
    </div>

    <div class="popup-image-soon">
        <span class="popup-close">×</span>
        <div class="popup-content-soon">
            <h1 class="popup-title-soon">Default Text</h1>
            <p class="popup-description-soon">Default Description</p>
        </div>
        <img class="popup-img-soon" />
    </div>

</div>



<!--Events-->
<div class="Events">
    <div class="EventTitleContainer">
        <div class="EventTitle">
            <h1>EVENTS!</h1>
        </div>
    </div>
    <div class="EventPosters">
        <figure class="EventPoster" data-title="Wheel of Fortune and Fantasy">
            <img src="images/Events/Asian810x1200.jpeg" alt="" />
            <figurecaption>Wheel of Fortune and Fantasy</figurecaption>
        </figure>
        <figure class="EventPoster" data-title="Barbenheimer">
            <img src="images/Events/barbenheimer-810x1200.jpg" alt="" />
            <figurecaption>Barbenheimer</figurecaption>
        </figure>
        <figure class="EventPoster" data-title="Fallen Leaves">
            <img src="images/Events/fallenleaves01-810x1200.jpg" alt="" />
            <figurecaption>Fallen Leaves</figurecaption>
        </figure>
        <figure class="EventPoster" data-title="Harlem">
            <img src="images/Events/Harlem810x1200.jpg" alt="" />
            <figurecaption>Harlem</figurecaption>
        </figure>
        <figure class="EventPoster" data-title="John Lewis: Good Trouble">
            <img src="images/Events/JohnLewis810x1200.jpg" alt="" />
            <figurecaption>John Lewis: Good Trouble</figurecaption>
        </figure>
    </div>

    <div class="popup-image">
        <span>&times;</span>
        <div class="popup-content">
            <h1 class="popup-title">Default Text</h1>
            <p class="popup-description">Default Description</p>
        </div>
        <img />
    </div>
</div>


<!--ScriptforPOPUPsoonincinemas-->
<script>
    document.querySelectorAll('.SoonInCinemas .Posters .Poster img').forEach(image => {
        image.onclick = () => {
            const title = image.parentElement.getAttribute('data-title');
            const { title: popupTitle, description: popupDescription } = getMovieDescription(title);

            const popupImage = document.querySelector('.SoonInCinemas .popup-image-soon');
            const popupContent = popupImage.querySelector('.popup-content-soon');
            const popupImgElement = popupImage.querySelector('.popup-img-soon');

            popupImage.style.display = 'block';
            popupContent.querySelector('.popup-title-soon').textContent = popupTitle;
            popupContent.querySelector('.popup-description-soon').textContent = popupDescription;
            popupImgElement.src = image.getAttribute('src');
        }
    });

    document.querySelector('.SoonInCinemas .popup-image-soon .popup-close').onclick = () => {
        document.querySelector('.SoonInCinemas .popup-image-soon').style.display = 'none';
    }

    function getMovieDescription(title) {
        switch (title) {
            case "Avatar: The way of water":
                return {
                    title: "Title for Avatar: The way of water",
                    description: "Description for Avatar: The way of water"
                };
            case "Barbie":
                return {
                    title: "Title for Barbie",
                    description: "Description for Barbie"
                };
            case "Batman: The Dark Knight":
                return {
                    title: "Title for Batman: The Dark Knight",
                    description: "Description for Batman: The Dark Knight"
                }
            case "Black Widow":
                return {
                    title: "Title for Black Widow",
                    description: "Description for Black Widow"
                }
            case "Cruella":
                return {
                    title: "Title for Cruella",
                    description: "Description for Cruella"
                }
            case "The Lord of The Rings: Return of The King":
                return {
                    title: "Title for The Lord of The Rings: Return of The King",
                    description: "Description for The Lord of The Rings: Return of The King"
                }
            case "The Nun 2":
                return {
                    title: "Title for ",
                    description: "Description for "
                }
            case "Oppenheimer":
                return {
                    title: "Title for Oppenheimer",
                    description: "Description for Oppenheimer"
                }
            case "Spider-Man: Across the spider-verse":
                return {
                    title: "Title for Spider-Man: Across the spider-verse",
                    description: "Description for Spider-Man: Across the spider-verse"
                }
            case "Thor: Love and Thunder":
                return {
                    title: "Title for Thor: Love and Thunder",
                    description: "Description for Thor: Love and Thunder"
                }
            default:
                return {
                    title: "Default title",
                    description: "Default description"
                };
        }
    }</script>

<!--ScriptforPOPUPevents-->
<script>document.querySelectorAll('.EventPosters img').forEach(image => {
        image.onclick = () => {
            const title = image.parentElement.getAttribute('data-title');
            const { title: popupTitle, description: popupDescription } = getTitleDescription(title);

            const popupImage = document.querySelector('.popup-image');
            const popupContent = popupImage.querySelector('.popup-content');
            const popupImgElement = popupImage.querySelector('img');

            popupImage.style.display = 'block';
            popupContent.querySelector('.popup-title').textContent = popupTitle;
            popupContent.querySelector('.popup-description').textContent = popupDescription;
            popupImgElement.src = image.getAttribute('src');
        }
    });

    document.querySelector('.popup-image span').onclick = () => {
        document.querySelector('.popup-image').style.display = 'none';
    }

    // Replace this function with your own logic to get personalized text based on the title
    function getTitleDescription(title) {
        // Example: Return a static description based on the title
        switch (title) {
            case "Wheel of Fortune and Fantasy":
                return {
                    title: "Wheel of Fortune and Fantasy",
                    description: "In the film 'Wheel of Fortune and Fantasy,' you'll discover a world full of twists and turns, where the destinies of characters intertwine in an unpredictable way. Is it just coincidence, or is there something more?"
                };
            case "Barbenheimer":
                return {
                    title: "Barbenheimer",
                    description: "Barbenheimer is a touching story of an extraordinary friendship between two unique souls. When fate throws challenges their way, they must face adversity to preserve their dreams and values."
                };
            case "Fallen Leaves":
                return {
                    title: "Fallen Leaves",
                    description: "Fallen Leaves' tells a moving tale of a magical world where autumn doesn't signify an end but a new beginning. The film explores the secrets of nature and human hearts hidden beneath falling leaves."
                };
            case "Harlem":
                return {
                    title: "Harlem",
                    description: "Harlem is a vibrant city where dreams are born and realized against the backdrop of jazz rhythms. Experience unforgettable moments in the heart of the cultural pulse of this exceptional place."
                };
            case "John Lewis: Good Trouble":
                return {
                    title: "John Lewis: Good Trouble",
                    description: "Live extraordinary moments with John Lewis, a hero in the fight for justice and civil rights. The film 'John Lewis: Good Trouble' is an inspiring journey through the life of an unwavering activist and his impact on history."
                };
            default:
                return {
                    title: "Default title",
                    description: "Default description"
                };
        }
    }</script>


<!--ScriptforsliderV2-->
<script>
    // document.addEventListener("DOMContentLoaded", function () {
    //     let currentSlide = 0;
    //     const totalSlides = document.querySelectorAll(".slide").length;
    //     const slidesContainer = document.querySelector(".slide-track");
    //     const slideWidth = document.querySelector(".slide").offsetWidth;

    //     function changeSlide(direction) {
    //         currentSlide += direction;

    //         if (currentSlide < 0) {
    //             currentSlide = totalSlides - 1;
    //         } else if (currentSlide >= totalSlides) {
    //             currentSlide = 0;
    //         }

    //         updateSlide();
    //     }

    //     function updateSlide() {
    //         const newTransformValue = -currentSlide * slideWidth;

    //         slidesContainer.style.transition = "transform 0.5s ease-in-out";
    //         slidesContainer.style.transform = `translateX(${newTransformValue}px)`;

    //         // Dodane: resetowanie klonu dla efektu nieskończoności
    //         if (currentSlide === totalSlides - 1) {
    //             setTimeout(() => {
    //                 slidesContainer.style.transition = "none";
    //                 slidesContainer.style.transform = "translateX(0)";
    //                 currentSlide = 0;
    //             }, 500);
    //         }
    //     }

    //     document.querySelector(".navigation button:nth-child(1)").addEventListener("click", function () {
    //         changeSlide(-1);
    //     });

    //     document.querySelector(".navigation button:nth-child(2)").addEventListener("click", function () {
    //         changeSlide(1);
    //     });
    // });



</script>